.table-users {
    width: 90%;
    margin: 2rem auto;
    border-collapse: collapse;
}

.table-users th, .table-users td {
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
}
  
.table-users th {
    background: #fafafa;
    padding: 1rem auto;
}

header {
    width: 100%;
    background: #955df4;
    padding: 1rem;
}
  
header h3 {
    color: #fff;
    margin-left: 1.5rem;
}

.UserList {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.btn-add {
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    background: #955df4;
    border: none;
    color: #fff;
    transition: all .5s ease;
}

.btn-add:hover {
    opacity: 0.9;
}

.actions-buttons{
    display: flex;
    justify-content: center;
}