.btn-modal {
    background: #955df4;
    border: none;
    color: #fff;
    width: 9rem;
}

.btn-modal:hover {
    opacity: 0.9;
}

.form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.input-add-user {
    width: 50%;
    height: 2.2rem;
    margin-bottom: 1rem;
    text-indent: .5rem;
    outline: none;
}