@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
}

input {
  width: 100%;
  background: none;
  border: none;
}

input:enabled {
  background-color: white;
  border: 1px solid black;
}
/* buttons
================================================ */
.btn {
  margin-left: 1rem;
  background: transparent;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
}

.btn-edit {
  color: #955df4;
  border: 1px solid #955df4;
}

.btn-edit:hover {
  background: #955df4;
  color: #fff;
}

.btn-delete {
  color: #ff816c;
  border: 1px solid #ff816c;
}

.btn-delete:hover {
  background: #ff816c;
  color: #fff;
}

/* /buttons
================================================ */